/* KLEUREN PALETTE
blush           #EA638C
Fandango        #B33C86
Russian Violet  #190E4F
Oxford Blue     #03012C
Dark Green      #002A22
*/

/*
GEIMPORTEERDE FONTS:
font-family: 'Bebas Neue', cursive;
font-family: 'Cinzel Decorative', cursive;
font-family: 'Creepster', cursive;
font-family: 'Gruppo', cursive;
font-family: 'Henny Penny', cursive;
font-family: 'IM Fell English SC', serif;
font-family: 'Mate SC', serif;
font-family: 'Monoton', cursive;
font-family: 'Noto Serif', serif;
font-family: 'Raleway Dots', cursive;
font-family: 'Rubik Glitch', cursive;
font-family: 'Rubik Moonrocks', cursive;
font-family: 'Six Caps', sans-serif;
font-family: 'Staatliches', cursive;
font-family: 'Syncopate', sans-serif;
font-family: 'VT323', monospace;
+
font-family: 'Codystar', cursive;
*/


#spelWrapper{
    margin-top: 200px;
    margin-left: 10%;
    background-color: #333;
    width: 80%;
    border: 2px solid #011936;
    border-radius: 5px;
  }
  .btn-paard{
    display: inline-block;  
    margin: 20px 20px;
    width: 27%;
    color: white;
    background-color: #333;
    text-align: center;
    height: 100px;
    padding-top: 50px;
    border: 2px solid white;
    font-size: xx-large;
    font-family: 'Gruppo', cursive;
    border-radius: 5px;
  }
  .btn-paard:hover{
    background-color: rgb(26, 26, 26);
  }
  #resultaat{
    border-top: 2px solid white;
    font-family: 'Gruppo', cursive;
    color: white;
    font-size: xx-large;
    text-align: center;
    border-radius: 5px;
  }
  #start{
    display: block;
    width: 100%;
    color: white;
    background-color: #333;
    text-align: center;
    height: 100px;
    padding-top: 50px;
    border: 2px solid white;
    font-size: xx-large;
    font-family: 'Gruppo', cursive;
    border-radius: 5px;
  }
  #start:hover{
    background-color: #bbb;
  }
  #score{
    display: block;
    width: 100%;
    color: white;
    background-color: #333;
    text-align: center;
    height: 100px;
    padding-top: 50px;
    
    font-size: xx-large;
    font-family: 'Gruppo', cursive;
    border-radius: 5px;
  }